@use "../abstracts" as *;

.card {
  // FUNCTIONALITY

  /* Perspective uzaklığı ne kadar küçük olursa o kadar bize yakın olur. Bu yüzden 100rem-150rem arası iyi bir değer olur gibi. */
  perspective: 150rem;

  position: relative;

  /* Child elementler position absolute olunca .card'ın yüksekliği sıfır oldu bü yozden perspekltif efektini göremedin. Yüksekliğini 50 rem olarak tanımlamak durumunda kaldık. */
  height: 52rem;

  &__side {
    height: 52rem;

    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem $color-rgba-medium;

    /* &__picture'daki arkaplan görseli div'i aştığı için bu seçeneği kullandık. Burda kullanmamızın sebebi &__picture'ın parenti bu eleement old. için. */
    overflow: hidden;

    /* Elementlerin arka taraflarını gizliyor. */
    backface-visibility: hidden;

    &--front {
      background-color: $color-white;
    }

    &--back {
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        );
      }

      &-2 {
        background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        );
      }

      &-3 {
        background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0deg);
  }

  // FRONT SIDE STYLING
  &__picture {
    background-size: cover;
    height: 23rem;

    /* screen'in haricinde birçok seçenek var deneme yanılma yöntemiyle denenebilir. Arka plan rengiyle arka plan görselini blend ediyor. */
    background-blend-mode: screen;

    /* Başka browserlarda da çalışması için aşağıdaki property'i kullanıyoruz. */
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    /* polygon'un dışında başka seçenekler de var, circle, ellipsis gibi */
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    &--1 {
      background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        ),
        url(../img/nat-5.jpg);
    }

    &--2 {
      background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        ),
        url(../img/nat-6.jpg);
    }

    &--3 {
      background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        ),
        url(../img/nat-7.jpg);
    }
  }

  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: $color-white;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%;
  }

  &__heading-span {
    padding: 1rem 1.5rem;

    /* The Sea Explorer yazısı ikiye bölündüğü için ortadan padding veremiyorduk. Bu property ile elementin kırılan yerinden dahil padding verebildik. */
    box-decoration-break: clone;
    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary-light, 0.85),
        rgba($color-secondary-dark, 0.85)
      );
    }

    &--2 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.85),
        rgba($color-primary-dark, 0.85)
      );
    }

    &--3 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-tertiary-light, 0.85),
        rgba($color-tertiary-dark, 0.85)
      );
    }
  }

  &__details {
    padding: 3rem;
    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;
      text-align: center;

      li {
        font-size: 1.5rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid $color-grey-light-2;
        }
      }
    }
  }

  // BACK SIDE STYLING
  &__cta {
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__price-box {
    text-align: center;
    margin-bottom: 8rem;
    color: $color-white;
  }

  &__price-only {
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  &__price-value {
    font-size: 6rem;
    font-weight: 100;
  }

  /*  Tabletlerde hover seçeneği olmadığı için cihazda hover seçeneği yoksa durumunu da ekledik. */
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    height: auto;
    border-radius: 3px;
    background-color: $color-white;
    box-shadow: 0 1.5rem 4rem $color-rgba-medium;

    &__side {
      height: auto;
      position: relative;
      box-shadow: none;

      &--back {
        transform: rotateY(0);
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
      }
    }

    &:hover &__side--front {
      transform: rotateY(0);
    }

    &__details {
      padding: 1 3rem;
    }

    // BACK SIDE STYLING
    &__cta {
      position: relative;
      width: 100%;
      top: 0;
      left: 0;
      transform: translate(0);
      padding: 7rem 4rem 4rem 4rem;
    }

    &__price-box {
      margin-bottom: 3rem;
    }

    &__price-value {
      font-size: 4rem;
    }
  }
}
